.dropdown-with-input > input[type="text"] {
  padding: 0.75rem !important;
  box-sizing: border-box !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #edf2f7 !important; // border-gray-100
  border-radius: 0.375rem !important;
  transition: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform !important;
  transition-duration: 200ms !important;
  outline: none !important;
}

.dropdown-with-input.passed > input[type="text"] {
  box-shadow: #38a169 0 0 0 1px !important; // border-green-600
  border-color: #68d391 !important; // border-green-400
}

.dropdown-with-input.failed > input[type="text"] {
  box-shadow: #e53e3e 0 0 0 1px !important; // border-red-600
  border-color: #fc8181 !important; // border-red-400
}

.dropdown-with-input:not(.passed, .failed).focus > input[type="text"],
.dropdown-with-input:not(.passed, .failed, .focus) > input[type="text"]:focus {
  box-shadow: #3182ce 0 0 0 1px !important; // border-blue-600
  border-color: #63b3ed !important; // border-blue-400
}

.dropdown-with-input > ul {
  position: absolute !important;
  top: 100% !important;
  left: 0 !important;
  right: 0 !important;
  padding: 0 !important;
  list-style: none !important;
  border: 1px solid #edf2f7 !important; // border-gray-100
  border-radius: 0.375rem !important;
  background: #fff !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 10%) !important;
  max-height: 12rem !important;
  overflow-y: auto !important;
  z-index: 1000 !important;
}

.dropdown-with-input > ul > li {
  cursor: pointer !important;
  font-size: 0.875rem !important;
  transition: background 0.2s !important;
}

.dropdown-with-input > ul > li:first-child {
  padding: 0.5rem 0.75rem 0.3125rem !important;
}

.dropdown-with-input > ul > li:last-child {
  padding: 0.3125rem 0.75rem 0.5rem !important;
}

.dropdown-with-input > ul > li:not(:first-child, :last-child) {
  padding: 0.3125rem 0.75rem !important;
}
